@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: montserrat;
  src:  url('./assets/fonts/Montserrat-font.ttf');
}


:root {
  /*Colors used around the hole project*/
  --main-gray: #F9F9F9;
  --main-white: #FFFFFF;
  --main-dark: #222222;
  --main-green: #DFFDE1;
  --main-red: #FFBAB5;
  --secondary-dark: #E6E6E6



  /*Estandar font, font-color & background-color*/
  font-family: montserrat;
  color-scheme: light dark;
  color: var(--main-dark);
  background-color: var(--main-gray);

}
